@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800;900&display=swap');

html {
  font-size: 62.5%;
  
}

body {
  background-color: #102b3f;
  width: 100%;
  font-family: 'Darker Grotesque', sans-serif;
  color: #eedc82;
  font-size: 2rem;
  letter-spacing: .1rem;
}