#mainBtn {
  width: 20rem;
  height: 6rem;
  border: .2rem solid #eedc82;
  background-color: #102b3f;
  color: #eedc82;
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 2rem;
  font-weight: 500;
  margin: 2rem 0 2rem 0;
}
.btnCntr {
  width: 20rem;
  margin: 0 auto;
}
#mainBtn:hover {
  background-color: #d7b81d;
  color: #102b3f;
  transition: .2s ease-in-out;
}

/* Media Queries*/
@media(min-width: 800px) {
  #mainBtn {
    font-size: 2.4rem;
  }
}
@media(min-width: 1000px) {
  .btnCntr {
    margin: 0;
  }
}